@{
    ViewData["Title"] = "Home Page";
}

<div class="main-box" id="mainbox">
    <form>
    <div class="svg">
    <svg width="270" height="105" viewBox="0 0 220 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.1377 12L40.2675 21.9669L37.0781 25.1563C25.9232 18.6819 19.3715 17.2956 7.17749 18.9768L19.1377 12Z" fill="url(#paint0_radial)" />
        <path d="M37.0766 25.1562L40.266 21.9668L36.0799 35.3224L33.0898 38.5118L37.0766 25.1562Z" fill="url(#paint1_linear)" />
        <path d="M7.17627 18.9768C19.5352 17.1828 26.5371 18.9614 37.0769 25.1563L33.0901 38.5119C25.9938 32.8571 20.5552 29.5082 8.77097 26.153L7.17627 18.9768Z" fill="url(#paint2_linear)" />
        <path d="M21.7278 21.4294C28.6728 22.4904 34.6847 27.5485 34.6847 27.5485L28.1065 33.9273L0 23.2234C0 23.2234 7.37548 19.2367 21.7278 21.4294Z" fill="url(#paint3_linear)" />
        <path d="M0 23.2233C14.0714 22.0842 20.5317 24.3589 28.1066 33.9271L26.3125 46.0867C21.9156 38.8443 17.2364 35.7118 4.58476 33.1902L0 23.2233Z" fill="url(#paint4_radial)" />
        <path d="M28.1063 33.9271L34.6844 27.5483L31.8937 39.9072L26.3123 46.0867L28.1063 33.9271Z" fill="url(#paint5_linear)" />
        <path d="M0 25.356L20.5317 41.5023L20.7311 52.2665L5.18277 37.5155L0 25.356Z" fill="url(#paint6_linear)" />
        <path d="M0 25.3783L20.5317 41.5019L24.7178 37.3158C24.7178 37.3158 21.9271 29.0569 13.1563 26.2661C7.57481 24.4902 0 25.3783 0 25.3783Z" fill="url(#paint7_linear)" />
        <path d="M0 25.3783L20.5317 41.5019L24.7178 37.3158C24.7178 37.3158 21.9271 29.0569 13.1563 26.2661C7.57481 24.4902 0 25.3783 0 25.3783Z" fill="url(#paint8_radial)" />
        <path d="M0 25.3783L20.5317 41.5019L24.7178 37.3158C24.7178 37.3158 21.9271 29.0569 13.1563 26.2661C7.57481 24.4902 0 25.3783 0 25.3783Z" fill="url(#paint9_linear)" />
        <path d="M20.5317 41.502L24.7178 37.3159L23.9205 48.7913L20.7311 52.2662L20.5317 41.502Z" fill="url(#paint10_linear)" />
        <path d="M64.9595 41.9929C63.2326 42.6138 61.2388 42.9243 58.9783 42.9243C56.7565 42.9243 54.8404 42.5022 53.2299 41.6582C51.6194 40.8044 50.3872 39.5965 49.5334 38.0345C48.6894 36.4628 48.2673 34.6534 48.2673 32.6063C48.2673 30.4039 48.7427 28.4441 49.6935 26.7269C50.6443 25.0096 51.988 23.6853 53.7247 22.7539C55.4613 21.8128 57.4599 21.3423 59.7205 21.3423C61.5251 21.3423 63.2714 21.5606 64.9595 21.9972V27.8038C64.3774 27.4545 63.6837 27.1829 62.8785 26.9888C62.0732 26.7948 61.2582 26.6978 60.4336 26.6978C58.726 26.6978 57.3775 27.1877 56.3879 28.1676C55.408 29.1475 54.918 30.4767 54.918 32.1551C54.918 33.8238 55.408 35.1433 56.3879 36.1135C57.3775 37.074 58.6969 37.5542 60.3463 37.5542C61.8695 37.5542 63.4072 37.1662 64.9595 36.39V41.9929Z" fill="#E5292F" />
        <path d="M78.7557 26.6104V42.5605H72.4397V26.6104H66.604V21.6916H84.6642V26.6104H78.7557Z" fill="#E5292F" />
        <path d="M101.677 36.2445C101.677 37.6319 101.303 38.8398 100.556 39.8682C99.8187 40.8966 98.7805 41.663 97.4417 42.1675C96.1028 42.672 94.4923 42.9243 92.6101 42.9243C90.4272 42.9243 88.4286 42.5556 86.6143 41.8183V36.099C87.4875 36.7393 88.4528 37.2583 89.5103 37.6561C90.5678 38.0442 91.5526 38.2382 92.4646 38.2382C93.1534 38.2382 93.687 38.117 94.0654 37.8744C94.4438 37.6222 94.633 37.2583 94.633 36.7829C94.633 36.4434 94.5359 36.1475 94.3419 35.8952C94.1576 35.6333 93.8714 35.3907 93.4833 35.1676C93.1049 34.9444 92.3967 34.6388 91.3586 34.2507C88.0017 32.9604 86.3232 30.8745 86.3232 27.993C86.3232 25.975 87.0897 24.3644 88.6226 23.1614C90.1555 21.9487 92.2123 21.3423 94.793 21.3423C95.5207 21.3423 96.1901 21.3714 96.8013 21.4296C97.4126 21.4878 97.9656 21.5606 98.4604 21.6479C98.9649 21.7352 99.6683 21.9001 100.571 22.1427V27.4545C98.8145 26.494 97.0876 26.0138 95.3897 26.0138C94.6912 26.0138 94.1285 26.1448 93.7016 26.4067C93.2747 26.6687 93.0612 27.0276 93.0612 27.4836C93.0612 27.9202 93.231 28.284 93.5706 28.5751C93.9199 28.8564 94.6427 29.2251 95.739 29.6811C97.9025 30.5543 99.4306 31.5099 100.323 32.548C101.225 33.5861 101.677 34.8183 101.677 36.2445Z" fill="#E5292F" />
        <path d="M120.428 41.7553L115.629 35.1919C115.249 34.6734 114.94 34.2055 114.699 33.7881H114.661C114.699 34.4584 114.718 35.2108 114.718 36.0455V41.7553H110.924V28.1542H114.794L119.394 34.3951C119.451 34.4773 119.521 34.5754 119.603 34.6892C119.685 34.803 119.767 34.92 119.849 35.0401C119.932 35.1602 120.008 35.2772 120.077 35.391C120.153 35.5049 120.21 35.606 120.248 35.6946H120.286C120.248 35.4163 120.229 34.9358 120.229 34.2529V28.1542H124.023V41.7553H120.428Z" fill="#E5292F" />
        <path d="M137.14 36.7284C137.14 38.3661 136.644 39.6528 135.651 40.5887C134.665 41.5245 133.283 41.9924 131.506 41.9924C129.742 41.9924 128.367 41.5371 127.38 40.6266C126.4 39.7097 125.91 38.4483 125.91 36.8422C125.91 35.8115 126.141 34.9168 126.603 34.158C127.064 33.3993 127.722 32.8175 128.575 32.4128C129.429 32.0082 130.412 31.8058 131.525 31.8058C132.676 31.8058 133.672 32.0176 134.513 32.4413C135.36 32.8649 136.008 33.453 136.457 34.2055C136.912 34.9579 137.14 35.7989 137.14 36.7284ZM133.043 36.7474C133.043 35.4258 132.537 34.7651 131.525 34.7651C130.513 34.7651 130.008 35.4574 130.008 36.8422C130.008 38.3028 130.52 39.0332 131.544 39.0332C132.543 39.0332 133.043 38.2712 133.043 36.7474Z" fill="#E5292F" />
        <path d="M145.951 35.5049C145.8 35.4353 145.594 35.3721 145.335 35.3152C145.076 35.2583 144.861 35.2298 144.69 35.2298C143.356 35.2298 142.689 36.0012 142.689 37.5441V41.7553H138.648V32.0429H142.689V33.7502H142.727C142.973 33.1368 143.324 32.6721 143.779 32.3559C144.235 32.0335 144.766 31.8722 145.373 31.8722C145.594 31.8722 145.787 31.9102 145.951 31.986V35.5049Z" fill="#E5292F" />
        <path d="M153.615 41.7553V40.6266H153.577C153.255 41.0502 152.834 41.3854 152.316 41.632C151.797 41.8723 151.285 41.9924 150.779 41.9924C149.951 41.9924 149.22 41.7901 148.588 41.3854C147.956 40.9744 147.482 40.4021 147.165 39.6686C146.856 38.9352 146.701 38.0689 146.701 37.0698C146.701 36.0392 146.887 35.1255 147.26 34.3288C147.633 33.532 148.158 32.9124 148.835 32.4698C149.511 32.0271 150.27 31.8058 151.111 31.8058C151.509 31.8058 151.876 31.8627 152.211 31.9765C152.553 32.0904 152.847 32.2453 153.093 32.4413C153.346 32.631 153.507 32.8207 153.577 33.0104H153.615V27.3765H157.655V41.7553H153.615ZM153.7 36.6051C153.7 36.0234 153.571 35.5713 153.311 35.2488C153.059 34.9263 152.714 34.7651 152.278 34.7651C151.841 34.7651 151.484 34.9674 151.206 35.3721C150.934 35.7704 150.798 36.3047 150.798 36.975C150.798 38.3471 151.272 39.0332 152.221 39.0332C152.67 39.0332 153.027 38.8498 153.292 38.4831C153.564 38.11 153.7 37.5694 153.7 36.8612V36.6051Z" fill="#E5292F" />
        <path d="M163.887 29.4252C163.887 29.9942 163.678 30.4558 163.261 30.8099C162.85 31.164 162.306 31.3411 161.63 31.3411C160.972 31.3411 160.431 31.1577 160.008 30.791C159.59 30.4242 159.382 29.969 159.382 29.4252C159.382 28.8687 159.584 28.4198 159.989 28.0783C160.4 27.7306 160.947 27.5567 161.63 27.5567C162.306 27.5567 162.85 27.7306 163.261 28.0783C163.678 28.4198 163.887 28.8687 163.887 29.4252ZM159.609 41.7553V32.0429H163.65V41.7553H159.609Z" fill="#E5292F" />
        <path d="M173.609 41.4802C173.349 41.632 172.942 41.7553 172.385 41.8501C171.829 41.945 171.187 41.9924 170.46 41.9924C169.435 41.9924 168.519 41.7869 167.709 41.3759C166.906 40.9586 166.283 40.3768 165.841 39.6307C165.398 38.8846 165.177 38.0468 165.177 37.1173C165.177 36.0044 165.411 35.0528 165.879 34.2624C166.353 33.4656 167.026 32.8586 167.899 32.4413C168.772 32.0176 169.783 31.8058 170.934 31.8058C171.566 31.8058 172.132 31.8469 172.632 31.9291C173.138 32.0113 173.463 32.1062 173.609 32.2137V35.3626C173.406 35.2045 173.116 35.0654 172.736 34.9453C172.357 34.8251 172.006 34.7651 171.683 34.7651C170.893 34.7651 170.292 34.9547 169.881 35.3341C169.477 35.7072 169.274 36.2352 169.274 36.9181C169.274 37.5883 169.473 38.11 169.872 38.4831C170.276 38.8498 170.83 39.0332 171.532 39.0332C172.284 39.0332 172.976 38.853 173.609 38.4925V41.4802Z" fill="#E5292F" />
        <path d="M183.112 38.5305C183.112 39.6307 182.692 40.4843 181.851 41.0914C181.016 41.692 179.85 41.9924 178.351 41.9924C177.915 41.9924 177.374 41.9481 176.729 41.8596C176.091 41.7711 175.569 41.6636 175.164 41.5371V38.7012C176.359 39.2323 177.358 39.4979 178.161 39.4979C178.952 39.4979 179.347 39.2924 179.347 38.8814C179.347 38.7107 179.255 38.5716 179.072 38.4641C178.889 38.3503 178.408 38.1637 177.63 37.9045C176.77 37.6326 176.144 37.2722 175.752 36.8232C175.36 36.3743 175.164 35.7894 175.164 35.0686C175.164 34.0632 175.563 33.2696 176.359 32.6879C177.162 32.0998 178.288 31.8058 179.736 31.8058C180.583 31.8058 181.481 31.9291 182.43 32.1757V34.8978C182.031 34.7271 181.595 34.5848 181.121 34.471C180.646 34.3572 180.248 34.3003 179.926 34.3003C179.66 34.3003 179.448 34.3446 179.29 34.4331C179.132 34.5216 179.053 34.6449 179.053 34.803C179.053 34.9864 179.138 35.135 179.309 35.2488C179.48 35.3626 179.821 35.4985 180.333 35.6566C181.326 35.9475 182.037 36.3205 182.467 36.7758C182.897 37.2311 183.112 37.816 183.112 38.5305Z" fill="#E5292F" />
        <path d="M198.914 41.7553L198.316 39.2513H194.257L193.612 41.7553H189.183L193.868 28.1542H198.952L203.362 41.7553H198.914ZM196.334 31.1134H196.239C196.227 31.2652 196.182 31.515 196.106 31.8627C196.031 32.2105 195.648 33.7028 194.959 36.3395H197.558L196.609 32.6405C196.476 32.0967 196.385 31.5877 196.334 31.1134Z" fill="#E5292F" />
        <path d="M214.402 37.6389C214.402 38.5431 214.159 39.3304 213.672 40.0006C213.192 40.6709 212.515 41.1704 211.642 41.4992C210.77 41.828 209.72 41.9924 208.493 41.9924C207.071 41.9924 205.768 41.7521 204.586 41.2716V37.5441C205.155 37.9614 205.784 38.2997 206.473 38.5589C207.162 38.8119 207.804 38.9383 208.399 38.9383C208.848 38.9383 209.195 38.8593 209.442 38.7012C209.689 38.5368 209.812 38.2997 209.812 37.9899C209.812 37.7685 209.749 37.5757 209.622 37.4113C209.502 37.2406 209.315 37.0825 209.063 36.937C208.816 36.7916 208.354 36.5924 207.678 36.3395C205.49 35.4985 204.396 34.1391 204.396 32.2611C204.396 30.9459 204.896 29.8962 205.895 29.1122C206.894 28.3218 208.234 27.9266 209.916 27.9266C210.39 27.9266 210.827 27.9455 211.225 27.9835C211.623 28.0214 211.984 28.0688 212.306 28.1258C212.635 28.1827 213.094 28.2902 213.682 28.4482V31.9102C212.537 31.2842 211.412 30.9712 210.305 30.9712C209.85 30.9712 209.483 31.0565 209.205 31.2273C208.927 31.398 208.788 31.6319 208.788 31.9291C208.788 32.2137 208.898 32.4508 209.119 32.6405C209.347 32.8238 209.818 33.0641 210.533 33.3613C211.943 33.9304 212.939 34.5532 213.52 35.2298C214.108 35.9064 214.402 36.7094 214.402 37.6389Z" fill="#E5292F" />
        <defs>
            <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(25.3172 21.9669) rotate(88.4926) scale(7.57744 22.1491)">
                <stop stop-color="#E1202A" />
                <stop offset="0.839818" stop-color="#F2856D" />
            </radialGradient>
            <linearGradient id="paint1_linear" x1="37.4697" y1="24.4899" x2="35.6056" y2="37.5391" gradientUnits="userSpaceOnUse">
                <stop stop-color="#BF2633" />
                <stop offset="1" stop-color="#F2856D" />
            </linearGradient>
            <linearGradient id="paint2_linear" x1="6.15188" y1="28.4048" x2="32.8096" y2="37.1664" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F2856D" />
                <stop offset="0.218959" stop-color="#E1202A" />
                <stop offset="0.659375" stop-color="#BF2633" />
                <stop offset="1" stop-color="#F2856D" />
            </linearGradient>
            <linearGradient id="paint3_linear" x1="19.9466" y1="14.4236" x2="27.9626" y2="33.9974" gradientUnits="userSpaceOnUse">
                <stop stop-color="#AA9C99" />
                <stop offset="0.299673" stop-color="#594E4D" />
                <stop offset="0.659037" stop-color="#665B5A" />
                <stop offset="0.995998" stop-color="#AA9C99" />
            </linearGradient>
            <radialGradient id="paint4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(16.2183 24.1172) rotate(94.1446) scale(38.6896 13.0966)">
                <stop offset="0.617708" stop-color="#5A4E4D" />
                <stop offset="0.930208" stop-color="#756B69" />
            </radialGradient>
            <linearGradient id="paint5_linear" x1="29.8265" y1="32.6923" x2="27.2167" y2="45.928" gradientUnits="userSpaceOnUse">
                <stop stop-color="#443A3A" />
                <stop offset="1" stop-color="#756B69" />
            </linearGradient>
            <linearGradient id="paint6_linear" x1="10.4394" y1="31.7606" x2="7.6431" y2="42.3864" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3D5B76" />
                <stop offset="0.546059" stop-color="#187FA9" />
                <stop offset="1" stop-color="#72AACE" />
            </linearGradient>
            <linearGradient id="paint7_linear" x1="1.07175e-08" y1="25.9813" x2="20.5059" y2="40.8947" gradientUnits="userSpaceOnUse">
                <stop stop-color="#ACC6E2" />
                <stop offset="1" stop-color="#D3E9F9" />
            </linearGradient>
            <radialGradient id="paint8_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(43.9945 28.2183) rotate(176.54) scale(40.1529 15.9491)">
                <stop offset="0.607292" stop-color="#28769B" />
                <stop offset="0.727083" stop-color="#3081AA" />
                <stop offset="1" stop-color="#95B9DB" />
            </radialGradient>
            <linearGradient id="paint9_linear" x1="17.1504" y1="14.0506" x2="29.9562" y2="39.7254" gradientUnits="userSpaceOnUse">
                <stop offset="0.0661387" stop-color="#72AACE" />
                <stop offset="0.234068" stop-color="#37617F" />
                <stop offset="0.621876" stop-color="#187FA9" />
                <stop offset="0.997338" stop-color="#72AACE" />
            </linearGradient>
            <linearGradient id="paint10_linear" x1="23.4886" y1="39.217" x2="22.7429" y2="50.7749" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3B5F7A" />
                <stop offset="1" stop-color="#72AACE" />
            </linearGradient>
        </defs>
    </svg>
    </div>
    <div class="inputbox">
        <input type="text" class="inputs" placeholder="Name"/>
        <input type="text" class="inputs" placeholder="Company" />
    </div>
    <div class="inputboxs">
        <input type="text" class="inputs" placeholder="Role" />
        <input type="text" class="inputs" placeholder="Project" />
    </div>
    <div class="inputboxs">
        <input type="number" class="inputnumber" placeholder="Code"/>
        <span class="inputdate">@DateTime.Now</span>
    </div>
    <div class="inputboxl">
        <input type="email" class="emailinput" placeholder="Email" />
    </div>
    <div class="inputboxl">
        <input type="number" class="hourinput" id="hi" placeholder="Hours Spent" />
    </div>

    <div class="container">

        <div class="dropdown">
            <div class="select">
                <span>Select Local</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <input type="hidden" name="gender">
            <ul class="dropdown-menu">
                <li >Exemplo 1</li>
                <li >Exemplo 2</li>
                <li >Exemplo 3</li>
                <li >Exemplo 4</li>
            </ul>
        </div>

    </div>
    <div class="bttcontainer">
        <button class="button" role="button">Submit</button>
    </div>
    </form>
</div>


